.Rproj.user
.Rhistory
.RData
.Ruserdata

# Virtual environments
**/.venv/
**/env/
**/venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Dependencies
*.egg-info/
dist/
build/

# VSCode
.vscode/
